main,
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
